body {
   margin: 0;
   padding: 0;
}

.menu li a {
   text-decoration: none;
   color: lightgray;
}

.dropdown-menu li a {
   font-weight: 600;
   top: auto;
   bottom: 100%;
}

.navbar-right {
   justify-content: flex-end;
}

perer