/* style */
body {
   padding: 0;
   margin: 0;
   font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

a,
.a {
   text-decoration: none;
}

/* fixed navbar */
#nav-fix {
   position: fixed;
   z-index: 99999;
}

/* tambahan */

.nav-fix {
   background-color: #06858C;
   height: 50px;
   box-shadow: 0 5px 5px rgba(3, 0, 0, 0.5);
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   position: relative;
}

.nav-bar {
   padding: 0;
   margin: 0;
   height: 50px;
}

.menu {
   position: absolute;
   margin-left: -65px;
}

.nav-fix ul {
   margin-top: 0;
}

.nav-fix ul li {
   margin-left: 25px;
   display: inline-block;
   position: relative;
   padding: 15px 20px;
   transition: .3s;
}

.nav-fix ul li:hover {
   background-color: rgb(118, 218, 251);
}

.nav-fix ul li a {
   text-decoration: none;
   color: white;
   display: block;
}

.nav-fix ul ul {
   visibility: hidden;
   position: absolute;
   background-color: lightseagreen;
   margin-left: -20px;
   width: 150px;
   margin-top: 15px;
}

.nav-fix ul li:hover ul {
   visibility: visible;
}

.nav-fix ul li ul li {
   width: 100%;
   margin-left: -40px;
   transition: none;
}

.nav-fix .logo a {
   position: absolute;
   color: white;
   font-size: 20px;
   text-decoration: none;
   top: 25%;
   right: 100px;
   font-family: Viga;
}

.nav-fix .logo a span {
   font-weight: bolder;
   color: tomato;
   font-size: 22px;
}

.container {
   position: relative;
   width: 85%;
   margin: auto;
}

.hero {
   position: relative;
   width: 100%;
   background: linear-gradient(45deg, #06858C 0%, #66e2aa 50%, #45c48b 100%);
   height: 400px;
   background-size: cover;
   padding-bottom: 25px;
}

.wellcome {
   height: 100%;
}

.wellcome p,
.wellcome h2 {
   font-family: Source Sans Pro;
   color: white;
   position: absolute;
   margin: auto;
   text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.wellcome h2 {
   font-weight: bolder;
   font-size: 100px;
   top: 30%;
}

.wellcome p {
   top: 60%;
   font-weight: lighter;
   font-size: 20px;
}

.dibawah-navbar {
   position: relative;
   top: 60px;
}

.saya {
   text-align: center;
   font-size: 50px;
   padding-bottom: -2px;
}

.profile {
   position: relative;
   /* left: 39%; */
   text-align: center;
   /* background-color: #45c48b; */
}

.profile img {
   margin-top: 0px;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   border: 6px solid white;
   box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}


.profile h3 {
   font-size: 40px;
   margin-top: 5px;
}

.profile .npm {
   margin-top: -35px;
}

.npm p {
   margin-top: -10px;
}


.tabel-riwayat {
   text-align: left;
   margin: auto;
   border-collapse: collapse;
   width: 500px;
   position: relative;
}

.waktu {
   text-align: right;
   padding-right: 15px;
}

.tingkat {
   font-size: 20px;
   text-align: left;
   padding-left: 15px;
}

.tambahan {
   padding-left: 15px;
}

.border-bawah {
   border-bottom: 3px solid black;
}

.sosmed i {
   font-size: 25px;
   color: #53b1c5;
}



/* main */
.main {
   padding: 20px;
   width: 70%;
   box-sizing: border-box;
   float: left;
}

.main-klasemen {
   width: 80%;
}

.ket-judul {
   font-size: 13px;
   margin-top: -27px;
}


/* foto berita */
.foto-berita {
   position: relative;
   border-radius: 20px;
   height: 400px;
   background-color: #45c48b;
   width: 100%;
   box-shadow: 2px 5px 5px rgba(106, 59, 181, 0.5);
}

.foto-berita1 {
   background-image: url(../img/IMG_5235.jpg);
   background-size: cover;
}

.foto-berita2 {
   background-image: url(../img/2865606287.jpg);
   background-size: cover;
}

.foto-berita3 {
   background-image: url(../img/Man-City-v-Man-Utd.png);
   background-size: cover;
}

.foto-berita4 {
   background-image: url(../img/eibar-vs-atletico-madrid.jpg);
   background-size: cover;
}

.foto-berita5 {
   background-image: url(../img/getafereal250417.jpg);
   background-size: cover;
}

.ket-gambar p {
   margin-top: 420px;
   font-style: italic;
   font-size: 12px;
   text-align: center;
}

/* sidebar */
.sidebar {
   width: 300px;
   float: right;
   padding: 20px;
}

.berita-side {
   width: 100%;
}

.berita-side p {
   padding-left: 5px;
   font-size: 13px;
}

.berita-side img {
   border-radius: 5px;
   width: 100px;
   height: 75px;
   float: left;
   padding-right: 5px;
}

.sumber:hover a {
   color: #06858C;
}

.menu-hero {
   position: relative;
   height: 60px;
   width: 100%;
   /* background-color: #45c48b; */
   top: 75%;
   display: grid;
   grid-template-columns: 180px 180px 180px 180px;
}

.men:hover {
   text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
}

/* text-color pallete */
.text-grey {
   color: lightslategrey;
}

.text-hitam {
   color: #131212;
}

.text-white {
   color: white;
}

/* Text Properties and fonts*/
.font-sanspro {
   font-family: Source Sans Pro;
}

.font-bold {
   font-weight: bold;
}

.font-larger {
   font-size: larger;
   font-size: 30px;
}




/* footer */
.footer {
   position: relative;
   background-color: #333333;
   padding: 10px;
   bottom: 0;
   left: 0;
}

.footer .copy {
   color: #eaeaea;
   text-align: center;
   font-size: 12px;
}

.kosong {
   position: relative;
   height: 100px;
   margin-top: 50px;
}

$bbottom: 4px solid #ffffffe7;
$lebar: 7.22%;
$cl-0: transparent;
$cl-1: #84f0bfe1;
$cl-2: #209460;
$cl-3: #1a794e;

@mixin propert($warna) {
   width: $lebar;
   height: 25px;
   text-align: center;
   background-color: $warna;
}

@mixin propert-td($warna) {
   @include propert($warna);
   border-bottom: 1px solid black;
}

.klasemen {
   border-collapse: collapse;
   width: 100%;
   background-color: #45c48b;
   box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);

   tr:nth-child(1) {
      @include propert($cl-3);
      height: 35px;
      border-bottom: $bbottom;
   }

   tr:nth-child(2),
   tr:nth-child(3),
   tr:nth-child(4),
   tr:nth-child(5) {
      border-left: 7px solid #4285f4;
   }

   tr:hover {

      td:nth-child(1),
      td:nth-child(2),
      td:nth-child(3),
      td:nth-child(4),
      td:nth-child(5),
      td:nth-child(6),
      td:nth-child(7),
      td:nth-child(8),
      td:nth-child(9),
      td:nth-child(10) {
         background-color: rgb(27, 216, 175);
         cursor: pointer;
         color: white;
         font-weight: bolder;
         transition: .3s ease;
      }
   }



   td:nth-child(1) {
      @include propert-td($cl-1);
   }

   td:nth-child(2) {
      border-bottom: 1px solid black;
   }

   td:nth-child(3) {
      @include propert-td($cl-2);
   }

   td:nth-child(4) {
      @include propert-td($cl-1);
   }

   td:nth-child(5) {
      @include propert-td($cl-2);
   }

   td:nth-child(6) {
      @include propert-td($cl-1);
   }

   td:nth-child(7) {
      @include propert-td($cl-2);
   }

   td:nth-child(8) {
      @include propert-td($cl-1);
   }

   td:nth-child(9) {
      @include propert-td($cl-2);
   }

   td:nth-child(10) {
      @include propert-td($cl-1);
   }
}

.kotak-ket-tabel {

   // position: absolute;
   // float: left;
   // border: 1px solid black;
   .ket-tabel {
      font-weight: lighter;
      font-size: smaller;
      text-align: left;

      span {
         display: inline-block;
         height: 25px;
         width: 30px;
         font-size: larger;
         font-weight: 800;
         text-align: center;
         margin-right: 5px;
      }
   }

}


/* Micro Clearfix */
.cf:before,
.cf:after {
   content: " ";
   /* 1 */
   display: table;
   /* 2 */
}

.cf:after {
   clear: both;
}

.cf {
   *zoom: 1;
}